/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
/* #endregion RESET */

/* #region GENERAL */
:root{
    --bg-main: #1B9688;
    --bg-secondary: #DBDBD2;
    --interface-n-hover: #EAEAEA;
    --alert: #8EDAFB;
    --your-msg: #D5F9BA;
    --light-btn: #B1B1B1;
    --dark-btn: #6B7376;
    --upper-bar-h: 60px;
    --lower-bar-h: 40px;
}

body{
    height: 100vh;
    background: linear-gradient(
    var(--bg-main) 0,
    var(--bg-main) 30%,
    var(--bg-secondary) 30%,
    var(--bg-secondary) 100%);
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion GENERAL */

/* #region APP */
main{
    min-width: 600px;
    width: 70%;
    height: 90%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

#list{
    height: 100%;
    width: 35%;
    min-width: 250px;
    background-color: white;
}

#chat-container{
    height: 100%;
    width: 65%;
    background-image: url(../img/mine.jpg);
}

.upper-bar{
    height: var(--upper-bar-h);
    padding: 10px 15px;
    background-color: var(--interface-n-hover);
    display: flex;
    justify-content: space-between;
    & > *{
        display: flex;
        align-items: center;
        & img{
            height: 100%;
            border-radius: 25px;
        }
        & i{
            color: var(--light-btn);
            cursor: pointer;
        }
        & i + i{
            padding-left: 15px
        }
    }
}

.last-log{
    font-size: 0.8rem;
    color: var(--dark-btn);
}

.lower-bar{
    height: var(--lower-bar-h);
    background-color: var(--interface-n-hover);
}

.chat{
    height: calc(100% - var(--upper-bar-h) - var(--lower-bar-h));
    overflow-y: auto;
    padding: 15px;
}

.message{
    width: fit-content;
    min-width: 150px;
    max-width: 50%;
    background-color: red;
    margin: 10px;
    padding: 8px 10px;
    padding-bottom: 18px;
    border-radius: 15px;
    position: relative;
}

.sent{
    background-color: var(--your-msg);
    margin-left: auto;
}

.received{
    background-color: white;
}

.timestamp{
    font-size: 0.7rem;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
/* #endregion APP */

